<!DOCTYPE html>
<html>

<head>
    <title>Email Confirmation</title>
</head>

<body style="margin: 0; padding: 0; background-color: #f4f4f4; background-image: url(https://i.ibb.co/FbrbFCm/thanks-for-subscribe.png); background-repeat: no-repeat; background-size: 47%; background-position: 50% 0%;" align="center" height="1000">

    <table width="450" cellpadding="0" cellspacing="0" align="center">
        <tr>
            <td align="center">
                <img src="https://i.ibb.co/Bnhc5Wj/Logo-big.png" alt="Logo" border="0" width="150" height="150" style="padding: 20px; margin-bottom: 80px;">
            </td>
        </tr>
        <tr>
            <td style="background-color: #FCF6F1; border-radius: 50px; font-family: Verdana; padding: 20px;">
                <h2 style="color: #111; text-align: center;">Confirm Your Account</h2>
                <p style="text-align: left;">Hi there <%= username %>,
                </p>
                <p style="text-align: left; color: #111; margin-bottom: 100px;">
                    Thank you for creating an account with Book Buddy. To get started, please confirm your email address by clicking the button below
                </p>
                <p style="text-align: left;">with love,</p>
                <p style="text-align: left; margin-bottom: 50px;">Your Book Buddy</p>
                <p align="center" style="margin-bottom: 20px;">
                    <a href="<%= verificationUrl %>" style="display: inline-block; padding: 10px 20px; background-color: #FAD142; color: #111; text-decoration: none; border-radius: 5px; cursor: pointer; font-weight: 600; font-size: 16px;">Confirm Your Email Address</a>
                </p>
            </td>
        </tr>
        <tr>
            <td height="80"></td>
        </tr>
    </table>

</body>

</html>